.ms_container {
    width: 600px;
    height: 300px;
    object-fit: cover;
    margin: 20px auto;
}

.ms_container img {
    width: 100%;
}

.ms_dots {
    color: #aaa;
}

.ms_active {
    color: #fff;
}

.ms_prev,
.ms_next {
    background-color: #fff;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 10px;
}